{% extends "layout.html" %}

{% block title %}
    A1
{% endblock %}

{% block main %}
<head>
  A1
</head>
<p>





</p>
<form action ="/A1" method = post>
<table border="1" align = "center">
  <tr>
    <td>acorns</td>
    <td>
      <input type="integer" name="acornenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "acornweight" size = "20">
    </td>
  </tr>
  <tr>
    <td>fruits.flowers.buds</td>
    <td>
        <input type="integer" name="fruitsenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "fruitsweight" size = "20">
    </td>
  </tr>
    <tr>
    <td>twigs.bark</td>
    <td>
      <input type="integer" name="twigsenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "twigsweight" size = "20">
    </td>
  </tr>
    <tr>
    <td>unknown</td>
    <td>
      <input type="integer" name="unknownenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "unknownweight" size = "20">
    </td>
  </tr>
    <tr>
    <td>ash</td>
    <td>
      <input type="integer" name="ashenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "ashweight" size = "20">
    </td>
  </tr>
    <tr>
    <td>beech</td>
    <td>
      <input type="integer" name="beechenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "beechweight" size = "20">
    </td>
  </tr>
    <tr>
    <td>birch</td>
    <td>
      <input type="integer" name="birchenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "birchweight" size = "20">
    </td>
  </tr>
    <tr>
    <td>cherry</td>
    <td>
      <input type="integer" name="cherryenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "cherryweight" size = "20">
    </td>
  </tr>
    <tr>
    <td>chestnut</td>
    <td>
      <input type="integer" name="chestnutenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "chestnutweight" size = "20">
    </td>
  </tr>
    <tr>
    <td>hemlock</td>
    <td>
      <input type="integer" name="hemlockenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "hemlockweight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>oak</td>
    <td>
      <input type="integer" name="oakenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "oakweight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>non.tree.litter</td>
    <td>
      <input type="integer" name="nontreelitterenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "nontreelitterweight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>pine.cones</td>
    <td>
      <input type="integer" name="pineconesenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "pineconesweight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>r.maple</td>
    <td>
      <input type="integer" name="rmapleenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "rmapleweight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>r.pine</td>
    <td>
      <input type="integer" name="rpineenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "rpineweight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>spruce</td>
    <td>
      <input type="integer" name="spruceenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "spruceweight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>str.maple</td>
    <td>
      <input type="integer" name="strmapleenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "strmapleweight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>w.hazel</td>
    <td>
      <input type="integer" name="whazelenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "whazelweight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>w.pine</td>
    <td>
      <input type="integer" name="wpineenvelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "wpineweight" size = "20">
    </td>
  </tr>
</table>
<p>




</p>
<p><input type="submit" value="Submit" name= "action"></p>
<p><input type="submit" value="Update" name="action"></p>
</form>
{% endblock %}