{% extends "layout.html" %}

{% block title %}
    A4
{% endblock %}

{% block main %}
<head>
  A4
</head>
<p>





</p>
<form action ="/A4" method = post>
<table border="1" align = "center">
  <tr>
    <td>acorns</td>
    <td>
      <input type="integer" name="acorn envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "acorn weight" size = "20">
    </td>
  </tr>
  <tr>
    <td>fruits.flowers.buds</td>
    <td>
        <input type="integer" name="fruits envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "fruits weight" size = "20">
    </td>
  </tr>
    <tr>
    <td>twigs.bark</td>
    <td>
      <input type="integer" name="twigs envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "twigs weight" size = "20">
    </td>
  </tr>
    <tr>
    <td>unknown</td>
    <td>
      <input type="integer" name="unknown envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "unknown weight" size = "20">
    </td>
  </tr>
    <tr>
    <td>ash</td>
    <td>
      <input type="integer" name="ash envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "ash weight" size = "20">
    </td>
  </tr>
    <tr>
    <td>beech</td>
    <td>
      <input type="integer" name="beech envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "beech weight" size = "20">
    </td>
  </tr>
    <tr>
    <td>birch</td>
    <td>
      <input type="integer" name="birch envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "birch weight" size = "20">
    </td>
  </tr>
    <tr>
    <td>cherry</td>
    <td>
      <input type="integer" name="cherry envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "cherry weight" size = "20">
    </td>
  </tr>
    <tr>
    <td>chestnut</td>
    <td>
      <input type="integer" name="chestnut envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "chestnut weight" size = "20">
    </td>
  </tr>
    <tr>
    <td>hemlock</td>
    <td>
      <input type="integer" name="hemlock envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "hemlock weight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>oak</td>
    <td>
      <input type="integer" name="oak envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "oak weight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>non.tree.litter</td>
    <td>
      <input type="integer" name="non.tree.litter envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "non.tree.litter weight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>pine.cones</td>
    <td>
      <input type="integer" name="pine.cones envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "pine.cones weight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>r.maple</td>
    <td>
      <input type="integer" name="r.maple envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "r.maple weight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>r.pine</td>
    <td>
      <input type="integer" name="r.pine envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "r.pine weight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>spruce</td>
    <td>
      <input type="integer" name="spruce envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "spruce weight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>str.maple</td>
    <td>
      <input type="integer" name="str.maple envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "str.maple weight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>w.hazel</td>
    <td>
      <input type="integer" name="w.hazel envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "w.hazel weight" size = "20">
    </td>
  </tr>
  </tr>
    <tr>
    <td>w.pine</td>
    <td>
      <input type="integer" name="w.pine envelope" size="20">
    </td>
    <td>
        <input type = "integer" name = "w.pine weight" size = "20">
    </td>
  </tr>
</table>
<p>





</p>
<p><input type="submit" value="Submit" name= "action"></p>
<p><input type="submit" value="Update" name="action"></p>
</form>
{% endblock %}