{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Timein</th>
                    <th>Timeout</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for work in works %}
                <tr>
                    <td>{{work.userid}}</td>
                    <td>{{work.timein}}</td>
                    <td>{{work.timeout}}</td>
                    <td>{{work.date}}</td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
{% endblock %}